{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "CognitiveServiceEndpoint": "COGNITIVE_SERVICE_ENDPOINT",
  "AcsConnectionString": "ACS_CONNECTION_STRING",
  "BaseUri": "https://your-devtunnel-url/api/incomingCall",
  "DirectLineSecret": "DIRECT_LINE_SECRET",
  "AgentPhoneNumber": "AGENT_PHONE_NUMBER",
  "Voice": {
    "VoiceName": "en-US-NancyNeural",
    "Language": "en-US"
  }
}
